@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 0px;
    font-family: Nunito, sans-serif;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 1px 2px #d1c9c9;
    padding: 15px;
    margin: auto;
    position: sticky;
    top: 0;
    background-color: #ffff;
}

a{
    text-decoration: none;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.navigation{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
}

.navigation:hover, a span:hover{
    color: #E31837;
}

nav img{
    max-width: 80px;
    height: 78.19px;
}

.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav1 span{
    color: #E31837;
    font-weight: 200;
}

.nav4 span{
    color: rgb(39, 37, 37);
    font-size: 1.2rem;
}

.nav5{
    background-color: #E31837;
    color: #ffff;
    width: 190px;
    text-align: center;
    padding: 13px;
    border-radius: 25px;
    font-size: 16px;
}

.nav5:hover{
    color: #ffff;
    background-color: #8c071b;
}

.chicksandwich-deals{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 70vh;
}

.sandwich{
    width: 469px;
    height: 234px;
}

.chick-text{
    display: grid;
}

.chick-text > *{
    font-weight: 900;
    color: #281e1e;
}

.chicksandwich-deals .chick-text h1{
    width: 469px;
    font-size: 3rem;
    margin: 10px 0 10px 0;
    line-height: 47px;
}

.chicksandwich-deals .chick-text h3{
    width: 469px;
    font-size: 1.5rem;
    margin: 15px 0 15px 0;
}

.chicksandwich-deals .chick-text h6{
    width: 469px;
    font-size: 1rem;
    margin: 10px 0 10px 0;
}

.chicksandwich-deals .chick-text .order-now{
    background-color: #E31837;
    color: #ffff;
    width: 210px;
    text-align: center;
    padding: 13px;
    border-radius: 25px;
    font-size: 16px;
    margin: 10px 0 10px 0;
}

.chicksandwich-deals .chick-text .order-now:hover{
    color: #ffff;
    background-color: #8c071b;
}

.order-now span{
    font-size: 1.2rem;
}

.merch{
    background-color: #E31837;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: auto;
}

.merch-text{
    display: grid;
    color: #ffff;
    padding: 112px 0 112px 0;
}

.merch-text > *{
    font-weight: 900;
}

.merch-text h3{
    font-size: 1.5rem;
}

.merch-text h2{
    font-size: 3rem;
    margin-top: 20px;
}

.merch-text strong{
    font-size: 1.5rem;
    margin-top: 20px;
}

.merch-text .shop-merch{
    color: #281e1e;
    background-color: #EFBB40;
    text-align: center;
    width: 190px;
    text-align: center;
    padding: 13px;
    border-radius: 25px;
    margin-top: 20px;
}

.shop-merch span{
    font-size: 1.2rem;
}

.shop-merch:hover{
    background-color: #bf8c15;
}

.merch img{
    width: 453px;
}

.about-jb{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 80px 0 80px 0;
}

.about-jb .about-text{
    display: grid;
    width: 400px;
    height: 503px;
}

.about-text a{
    text-decoration: underline;
    color: #E31837;
}

.about-jb img{
    width: 503px;
}

.about-jb h2{
    font-weight: 900;
    font-size: 3rem;
    line-height: 47px;
}

.about-jb p{
    line-height: 25px;
}

.jb-fave{
    display: grid;
    padding: 80px;
}

.fave-text{
    padding: 0 32px 0 32px;
}

.meal-deal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: grid;
    justify-content: center;
    align-items: center;
    flex: wrap;
    text-align: center;
    padding: 0 0 0 32px;
}

.card a{
    text-decoration: none;
    color: black;
}

.card:hover{
    color: #E31837;
}

.card a:hover{
    color: #E31837;
}

.meal-deal img{
    width: 200px;
}





